# 환경변수
.env
**/.env
# Gradle
**/build/
**/.gradle/

# IntelliJ IDEA
**/.idea/
**/*.iml
**/*.iws
**/*.ipr

# OS
.DS_Store
Thumbs.db

# Domain services (임시 제외 - auction 제외)
member/
order/
payment/
product/
